.clients-title {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: $body-main-color;

  @include desk {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -30px;

  @media screen and (max-width: 479px) {
    flex-direction: column;
    align-items: center;
  }

  @include desk {
    flex-wrap: nowrap;
    margin: 0 auto;
  }
}

.clients-list__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include tab {
    flex-basis: calc((100% - 90px) / 3);
    width: 226px;
  }

  @include desk {
    margin: 0;
    width: 170px;
    height: 92px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $icon-color;
  width: 210px;
  height: 92px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include tab {
    width: 226px;
  }

  @include desk {
    width: 170px;
    height: 92px;
  }
}

.clients-list__item {
  &:hover,
  &:focus {
    border-color: $main-hover-color;
  }
}

.clients-list__link {
  &:hover,
  &:focus {
    fill: $main-hover-color;
  }
}
