.command-section {
  background-color: $secondary-background-color;
}

.command-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;

  @include desk {
    margin: 0 auto 50px auto;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.command-list {
  display: block;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  @include tab {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: 0;
  }

  @include desk {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    max-width: 1200px;
  }
}

.command-list__item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;

  @media screen and (max-width: 767px) {
    & > img {
      width: 100%;
      max-width: 450px;
      max-height: 460px;
    }
  }

  @include tab {
    flex-basis: calc((100%-2 * 30) / 2);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
    max-width: 354px;
    max-height: 536px;
    padding-bottom: 24px;
    & > img {
      width: 100%;
      height: 374px;
    }
  }

  @include desk {
    max-width: 270px;
    max-height: 428px;
    padding-bottom: 30px;
    margin: 0 30px 0 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
    & > img {
      width: 270px;
      height: auto;
    }
  }
}

.command-list__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.command-list__position {
  margin-top: 10px;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: $third-priority-color;
}

.command-list__link-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.command-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: $icon-color;
  border-radius: 50%;
  transition-property: background-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    fill: $main-hover-color;
  }

  @include desk {
    &:hover,
    &:focus {
      background-color: $main-hover-color;
      fill: $secondary-text-color;
    }
  }
}
